<div class="full-screen">
  <% if params[:match] %>
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body">
            <div class="avatar-position mb-2">
              <%= cl_image_tag current_user.photo.key, class: "avatar-profile avatar-left" if current_user.photo.present? %>
              <%= cl_image_tag current_user.partner.photo.key, class: "avatar-profile avatar-right" if current_user.partner.photo.present? %>
            </div>
            <div class="match">
              <p> Vous avez un match !</p>
            </div>
            <div class="both-like">
              <p> <%= current_user.partner.first_name %> aime aussi le prénom :</p>
            </div>
          </div>
        <div class="card-category"><%= image_tag "namedeco.png", class: "nameimage" %>
          <div class="name-disclaim"><%= params[:match].capitalize %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

  <div class="cards-container">
    <div class="name-cards flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front <%= @name.gender %>-card">
          <div class="name-text">
            <div style="height:10px;">
            </div>
            <div class="first-name">
              <%= @name.name.capitalize %>
            </div>
            <div class="last-name">
              DURAND
            </div>
          </div>
          <div class="infos-btn btn-<%= @name.gender %>">
            <%# INFO %>
            <i class="fas fa-info-circle"></i>
          </div>
        </div>
        <div class="flip-card-back <%= @name.gender %>-card">
          <div class="name-back-card"><%= @name.name.upcase %></div>
          <% unless @name.origin.blank? %>
            <% if @name.origin.count == 2 %>
              <p class="text-center"><small>(<%= @name.origin[0] %> - <%= @name.origin[1] %>)</small></p>
            <% else %>
              <p class="text-center"><small>(<%= @name.origin[0] %>)</small></p>
            <% end %>
          <% end %>
            <div style="height:50vh;width:100%;font:16px/26px Open Sans, sans-serif;overflow:auto;">
              <div class="name-infos">
                <p><i><%= @name.meaning %></i></p>
                <%# <p><strong>Origin:</strong> = @name.origin[0] - = @name.origin[1]</p> %>
                <% unless @name.etymology.blank? %>
                  <p><strong><i class="fas fa-book fa-fw"> </i>  Étymologie : </strong><%= @name.etymology %></p>
                <% end %>
                <% unless @name.popularity.blank? %>
                  <p><strong><i class="far fa-chart-bar fa-fw"></i>  Popularité : </strong><%= @name.popularity.capitalize %></p>
                <% end %>
                <% unless @name.personality.blank? %>
                  <p><strong><i class="fas fa-user-cog fa-fw"></i></i>  Personnalité : </strong><%= @name.personality %></p>
                <% end %>
                <% unless @name.astrology.blank? %>
                  <p><strong><i class="fab fa-connectdevelop fa-fw"></i>  Signe astro : </strong><%= @name.astrology %></p>
                <% end %>
                <% unless @name.feast_day.blank? %>
                  <p><strong><i class="far fa-calendar-alt fa-fw"></i>  Fêté le : </strong><%= @name.feast_day %></p>
                <% end %>
              </div>
            </div>
          <div class="back-btn btn-<%= @name.gender %>">
            <i class="fas fa-undo"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons-container">
    <%= link_to choices_path(name_id: @name.id, decision: "declined"), method: :post, id: "decline-btn" do %>
      <div class="circle-btn circle-btn-dislike">
        <i class="fas fa-times"></i>
      </div>
    <% end %>
    <%= link_to choices_path(name_id: @name.id, decision: "accepted"), method: :post, id: "accept-btn" do %>
      <div class="circle-btn circle-btn-like">
        <i class="fas fa-heart"></i>
      </div>
    <% end %>
  </div>
</div>
