<%# <div class="container"> %>
  <%# <p>= @name.name</p> %>
  <%#= link_to "accepted", choices_path(name_id: @name.id, decision: "accepted"), method: :post %>
  <%#= link_to "declined", choices_path(name_id: @name.id, decision: "declined"), method: :post %>
<%# </div> %>

<div class="full-screen">
  <div class="cards-container">
    <div class="name-cards flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front <%= @name.gender %>-card">
          <div class="name-text">
            <div style="height:10px;">
            </div>
            <div class="first-name">
              <%= @name.name.capitalize %>
            </div>
            <div class="last-name">
              DURAND
            </div>
          </div>
          <div class="infos-btn btn-<%= @name.gender %>">
            <%# INFO %>
            <i class="fas fa-plus-circle"></i>
          </div>
        </div>
        <div class="flip-card-back <%= @name.gender %>-card">
          <div class="name-back-card"><%= @name.name.upcase %></div>
          <div class="name-infos">
            <p><strong>Meaning :</strong> <%= @name.meaning %></p>
            <p><strong>Origin :</strong> <%= @name.origin.first %></p>
          </div>
          <div class="back-btn btn-<%= @name.gender %>">
            <i class="fas fa-arrow-circle-left"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons-container">
    <%= link_to choices_path(name_id: @name.id, decision: "declined"), method: :post do %>
      <div class="circle-btn circle-btn-dislike">
        <i class="fas fa-times"></i>
      </div>
    <% end %>
    <%= link_to choices_path(name_id: @name.id, decision: "accepted"), method: :post do %>
      <div class="circle-btn circle-btn-like">
        <i class="fas fa-heart"></i>
      </div>
    <% end %>
  </div>
</div>
