<div class="container">
  <div>
    <%= cl_image_tag current_user.photo.key, class: "avatar-profile" if current_user.photo.present? %>
  </div>
  <div class="text-center">
    <%= current_user.first_name %> <%= current_user.last_name %>
  </div>

  <% if current_user.partner.present? %>
    <div>
      <%= cl_image_tag current_user.partner.photo.key, class: "avatar-profile" %>
    </div>
    <div class="text-center">
      <%= current_user.partner.first_name %> <%= current_user.partner.last_name %>
    </div>
  <% else %>
    <div>
      Partagez votre code à votre partenaire : <%= current_user.code %>
    </div>
  <% end %>
  
  <div>
    <form method="get" action="<%= profile_path %>" class="form-inline mt-3">
      <div class="form-group mb-2">
        <label for="inputCode" class="sr-only"></label>
        <input name="code" class="form-control" id="inputCode" placeholder="Code">
      </div>
      <button type="submit" class="btn btn-primary ml-1 mb-2">Ajouter</button>
      <small id="emailHelp" class="form-text text-muted">Ajouter le code de votre partenaire pour pouvoir matcher sur des prénoms.</small>
    </form>
  </div>
</div>
