<div class="container">
  <% if current_user.partner.present? %>
    <div class="avatar-position mb-2">
      <%= cl_image_tag current_user.photo.key, class: "avatar-profile avatar-left" if current_user.photo.present? %>
      <%= cl_image_tag current_user.partner.photo.key, class: "avatar-profile avatar-right" if current_user.partner.photo.present? %>
    </div>
    <div class="text-center">
      Vous êtes partenaire avec
    </div>
    <div class="name-profile">
      <%= current_user.partner.first_name %> <%= current_user.partner.last_name %>
    </div>
    <div>
      <form method="get" action="<%= profile_path %>">
        <div class="form-group">
          <label for="inputCode"></label>
          <input name="code" class="form-control" id="inputCode" value="<%= current_user.partner.code %>">
        </div>
        <button type="submit" class="btn btn-form">Réinitialiser</button>
        <small id="emailHelp" class="form-text mt-2">Ajouter le code de votre partenaire pour pouvoir matcher sur des prénoms</small>
      </form>
    </div>

  <% else %>
    <div>
      <%= cl_image_tag current_user.photo.key, class: "avatar-profile" if current_user.photo.present? %>
    </div>
    <div class="name-profile">
      <%= current_user.first_name %> <%= current_user.last_name %>
    </div>
    <div class="text-center">
      <%= current_user.code %>
    </div>
    <div>
      <form method="get" action="<%= profile_path %>">
        <div class="form-group">
          <label for="inputCode"></label>
          <input name="code" class="form-control" id="inputCode" placeholder="Code de mon/ma partenaire">
        </div>
        <button type="submit" class="btn btn-form">Ajouter</button>
        <small id="emailHelp" class="form-text mt-2">Ajouter le code de votre partenaire pour pouvoir matcher sur des prénoms</small>
      </form>
    </div>
  <% end %>
</div>
