<br>
<div class="container">
  <% if current_user.partner.present? %>
    <div class="avatar-position mb-2">
      <%= cl_image_tag current_user.photo.key, class: "avatar-profile avatar-left" if current_user.photo.present? %>
      <%= cl_image_tag current_user.partner.photo.key, class: "avatar-profile avatar-right" if current_user.partner.photo.present? %>
    </div>
    <div class="my-name-profile">
      <%= current_user.first_name %> <%= current_user.last_name.upcase %>
    </div>
    <div class="text-center">
      Vous êtes partenaire avec
    </div>
    <div class="name-profile">
      <%= current_user.partner.first_name %> <%= current_user.partner.last_name %>
    </div>
    <div>
      <form method="get" action="<%= profile_path %>">
      <br>
        <% if current_user.filter %>
            <%= link_to "Filtrer des prénoms", edit_filter_path(current_user.filter), class: "btn btn-form" %>
          <% else %>
            <%= link_to "Filtrer des prénoms", new_filter_path, class: "btn btn-form" %>
          <% end %>
        <div class="footer-names text-center"><%= link_to "Réinitialiser", profile_path(unmatche: "") %>
        </div>
      </form>
    </div>

  <% else %>
    <div>
      <%= cl_image_tag current_user.photo.key, class: "avatar-profile" if current_user.photo.present? %>
    </div>
    <div class="my-name-profile">
      <%= current_user.first_name %> <%= current_user.last_name.upcase %>
    </div>
    <div class="text-center groupe-info">
      <small>Code personnel à partager :</small>
      <br>
      <%= current_user.code %>
    </div>
    <div>
      <form method="get" action="<%= profile_path %>">
        <div class="form-group text-center">
          <label for="inputCode"></label>
          <input name="code" class="form-control" id="inputCode" placeholder="Saisir code du partenaire">
        </div>
        <button type="submit" class="btn btn-form">Ajouter partenaire</button>
        <small id="emailHelp" class="form-text mt-3">Ajouter le code de votre partenaire pour matcher des prénoms.</small>
      </form>
    </div>
  <% end %>
</div>
