
<%= simple_form_for @filter, html: { class: "form-filters"} do |f| %>

  <%#= f.input :gender, as: :radio_buttons, label: "", collection: ['all', 'girl', 'boy'], wrapper: :vertical_collection_inline, checked: 'all', legend_html: { class: "size-label" } %>

  <%= f.input :gender,label:"",
              as: :radio_buttons,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'gender-wrapper',
              item_wrapper_class: 'gender-item',
              input_html: {class: 'gender-selector'},
              checked: 'tous',
              :collection =>{
                '<div class="icons-gender"><i class="fas fa-venus-mars"></i><p>Tous</p></div>'.html_safe => 'tous',
                '<div class="icons-gender"><i class="fas fa-mars"></i><p>Garçon</p></div>'.html_safe => 'garçon',
                '<div class="icons-gender"><i class="fas fa-venus"></i><p>Fille</p></div>'.html_safe => 'fille' } %>


  <%= f.input :origin,
              label_html:{ class: "titles"},
              label:"Origine", collection: Filter::ORIGIN,
              input_html: { multiple: true } %>

  <label class="col-form-label pt-0 titles">Popularité</label>
  <%= f.input :popularity, legend_tag: false,
              collection: Filter::POPULARITY,
              as: :check_boxes,
              input_html: { class: "tag-selector" },
              item_wrapper_class: 'tag-item' %>
  <%#= f.input :popularity, label:"Popularité",
              label_html:{ class: "titles"},
              collection: Filter::POPULARITY,
              as: :range %>
  
  <label class="col-form-label pt-0 titles">Taille du prénom</label>
  <%= f.input :length, legend_tag: false,
              collection: Filter::LENGTH,
              as: :check_boxes,
              input_html: { class: "tag-selector" },
              item_wrapper_class: 'tag-item' %>
  <%#= f.input :length,label:"Taille du prénom",
              label_html:{ class: "titles"},
               as: :range %>
  <%#= f.input :length, collection: Filter::LENGTH, label_html: { class: "size-label" }%>

  <%#= more filters %>

  <%= f.input :astrology,
              label_html:{ class: "titles"},
              label:"Signe astrologique", collection: Filter::ASTROLOGY,
              input_html: { multiple: true } %>
  <%# <%= f.input :astrology,label:"Signe astrologique",
              label_html:{ class: "titles"},
              collection: Filter::ASTROLOGY,
              as: :check_boxes,
              input_html: { class: "tag-selector" },
              item_wrapper_class: 'tag-item' %>

    <%= f.input :start_with, label:"Commence par",
                 placeholder:"Saisir une ou plusieurs lettres",
                  label_html: { class: "titles" } %>

    <%= f.input :end_with,
                label:"Termine par",
                placeholder:"Saisir une ou plusieurs lettres",
                label_html: { class: "titles" } %>

  <%#= f.input :hyphenated_name, label:"Prénom composé", input_html: { class: "toggle size-label" }%>

  <div class="text-center footer-names">
    <%= f.button :submit, value:"C'EST PARTI !", class: "btn btn-form" %>
    <% if Filter.last != nil %>
      <br>
      <br>
      <%= link_to "Réinitialiser", new_filter_path, method: :delete, data: { confirm: "Voulez-vous réinitialiser vos préférences ?" } %>
    <% end %>
  </div>
<% end %>
